@font-face {
  font-family: Oswald;
  src: url(/src/fonts/Oswald.woff);
}

body {
  padding: 0;
  margin: 0;
}

header {
  font-family: Oswald, "sans-serif";
  color: white;
  padding: 0;
  background-image: url("/src/img/Rectangle.png");
  width: auto;
  height: 720px;
}

.heading-header {
  font-size: 64px;
  margin: 0;
}

.subtitle-header {
  font-size: 18px;
  margin-top: 35px;
}

.header-text {
  display: flex;
  flex-wrap: wrap;
  height: 171px;
  width: 734px;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  padding-top: 20px;
  align-self: flex-start;
}

.block-header {
  width: 1110px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1110px;
  margin: auto;
  font-family: Oswald;
}

.advancher {
  display: flex;
  background-color: #f7f7f7;
  margin: 0;
  justify-content: space-evenly;
  text-align: center;
  height: 300px;
  margin-top: -150px;
  align-items: center;
}

.yers {
  font-family: Oswald;
  font-weight: 500;
}

.number {
  color: #f7654a;
  font-size: 72px;
  font-weight: 500;
  font-family: Oswald;
  margin: 0;
}

.text-number {
  color: #000000;
  font-family: Oswald;
  font-style: bold;
  font-size: 36px;
  margin: 0;
}

.subtitle-number {
  color: #999999;
}

.big-project {
  font-size: 36px;
  color: rgba(64, 65, 73, 1);
  text-align: center;
  padding-top: 100px;
}

.text-header-card {
  font-family: Oswald;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
}
.main-text {
  font-size: 16px;
  color: rgba(153, 153, 153, 1);
  font-weight: 400;
}

.project {
  display: flex;
}

.request {
  background-color: rgba(247, 101, 74, 1);
  padding-top: 45px;
  padding-bottom: 45px;
  margin-top: 150px;
}
.request-text {
  color: rgba(255, 255, 255, 1);
}

.request-text h2 {
  font-size: 48px;
  margin: 0;
}

.request-text span {
  font-size: 24px;
}

.request-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.your-question {
  width: 175px;
  height: 49px;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  font-family: Oswald;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  flex-direction: row-reverse;
}

.services {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 250px;
  background-color: rgba(247, 247, 247, 1);
  margin-bottom: 30px;
}
