@font-face {
  font-family: Oswald;
  src: url(/src/fonts/Oswald.woff);
}

body {
  padding: 0;
  margin: 0;
}

header {
  font-family: Oswald, "sans-serif";
  color: white;
  padding: 0;
  background-image: url("/src/img/Rectangle.png");
  width: auto;
  height: 720px;
}
.container {
  width: 80%; margin: 0 auto;
}

.header-text {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.numbers {
  display: flex;
  background-color: rgb(247, 247, 247, 1);
  align-items: center;
  justify-content: center;
  padding: 57px 100px 57px 100px;
  margin-top: 400px;
}

.numbers .numbers-item {
  width: 190px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.yers {
  color: rgba(247, 101, 74, 1);
  font-size: 72px;
}
.text-yers {
  color: rgba(0, 0, 0, 1);
  font-size: 36px;
}

.market {
  color: rgba(153, 153, 153, 1);
  font-size: 18px;
}

p {
  margin: 0;
}
